/* Text colors */

.text-primary {
  color: #a6b1e1;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  color: #cacfd6;
  background: #424874;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary,
.bg-primary {
  background: #dcd6f7;
  color: #424874;
}

.btn-secondary,
.bg-secondary {
  background: #424874;
  color: #a6b1e1;
}

.btn-dark,
.bg-dark {
  background: #333;
  color: #fff;
}

.btn-light,
.bg-light {
  background: #f4f4f4;
  color: #333;
}

.btn-outline {
  background: #424874;
  border: 1px solid #424874;
}

/* Flex-Items */

.flex-items {
  display: flex;
  text-align: center;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-items > div {
  padding: 15px;
}

/* Flex columns */

.flex-columns .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-column h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 10px 0;
  text-align: justify;
}

/* Section Header */
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}

.section-padding {
  padding: 20px 20px 40px;
}

/* Flex Gird */

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;

  padding: 0 4px;
}